{% load staticfiles %}
<html>
<head>
<title>База знаний операторов Контакт-центра</title>
<link rel="stylesheet" type="text/css" href="{% static 'askq/style.css' %}" />
<link rel="shortcut icon" href="{% static 'askq/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<a href="{% url 'askq:index' %}" class="na_home"><img alt="buttons" src="{% static 'askq/images/home.jpg' %}" /></a>
<table cellspacing="0" width="100%" align="center">
<tr>
<td class="left_col_top">
    <div class="select-style">
        <form method="get" action="/call/">
            {{ form.as_p }}
          <input class="sercher-button" type="submit" value="Выбрать">
        </form>
    </div>
        <form action="/call/" method="get">
        <input class="sercher" type="text" name="q">
        {% if cur_proj %}
         <input name="projectname" value="{{ cur_proj.id }}" hidden="0">
        {% endif %}
        <input class="sercher-button" type="submit" value="Найти">
        </form>
</td>
<td colspan="2" class="header">
{% if cur_proj %}
      {% if cur_proj.filetoproj %}
        <a href="{{ cur_proj.filetoproj.url }}" type="application/msword"><img src="{% static 'askq/images/file.jpg' %}" width="50" height="50" class="img_file" ></a>
      {% endif %}
    <a href="{{ cur_proj.urlp }}">{{ cur_proj}}</a>
{% else %}
    {% if cur_search_proj %}
      {% if cur_search_proj.filetoproj %}
        <a href="{{ cur_search_proj.filetoproj.url }}" type="application/msword"><img src="{% static 'askq/images/file.jpg' %}" width="50" height="50" class="img_file" ></a>
      {% endif %}
    <a href="{{ cur_search_proj.urlp }}">{{ cur_search_proj}}</a>
    {% else %}
        База знаний операторов Контакт-центра
    {% endif %}
{% endif %}
{% if cur_ask%}
        <br /><br /> <div class="quest_top"> {{ cur_ask }}
         {% if cur_ask.filetoask %}
            <a href="{{ cur_ask.filetoask.url }}" type="application/msword"><img src="{% static 'askq/images/fileask.png' %}" width="30" height="30" class="img_ask_file" ></a>
         {% endif %}
        </div>
{% endif %}
</td>
</tr>
<tr>
<td class="left_col">
<div class="askq">
{% if sq %}
        {% for i in sq %}
        <a title="Проект: {{i.proj.projectname}}" class="button {% if i.id == cur_ask.id %}red{% else %}green{% endif %}" href="/call/?q={{ query }}{% if cur_proj %}&projectname={{ i.proj.id }}{% else %}&project={{ i.proj.id }}{% endif %}&cur_ask={{ i.id }}" >{{ i }}</a>
        {% endfor %}
{% else %}
        {% for i in askp %}
        <a class="button {% if i.id == cur_ask.id %}red{% else %}green{% endif %}" href="/call/?projectname={{ cur_proj.id }}&cur_ask={{ i.id }}" >{{ i }}</a>
        {%  endfor %}
{% endif %}
</div>
</td>
<td class="center_col">
  {% if query %}
      {% if sq %}
          {% for i in answer %}
              {% autoescape off %}{{ i }} {% endautoescape %}
          {% endfor %}
      {% else %}
          По запросу: <div class="warning"> {{ query }} </div> <br />ничего не найдено =(
      {% endif %}
    {% else %}
      {% for i in answer %}
            {% autoescape off %}{{ i }} {% endautoescape %}
      {% endfor %}
  {% endif %}
</td>
</tr>
<tr>
<td colspan="3" class="footer">БИС-Новосибирск 2014</td>
</tr>
</table>
</body>
</html>