.left_col_top {width:320px; height:150px; background-color:#717dc9; padding:15px; vertical-align:middle; font-size: 24px;}
.header {height:150px; background-color:#717dc9; padding:20px; text-align:center; font-size: 48px; font: bold;}
.left_col {min-width:200px; background-color:#717dc9; padding: 5px; vertical-align:middle; height: 600px}
.center_col {background-color:#ffffff; padding:15px; vertical-align:middle; text-align: center;}
.right_col {width:120px; background-color:#dddddd; padding:15px; vertical-align:top;}
.footer {padding:10px 0 10px 20px; background-color:#717dc9; font-size:13px;}

/* Выпадающий список*/
.select-style select {
    border-radius: 3px;
    border-color: #000000;
    background: #ffffff;
    height: 34px;
    padding: 5px;
    border: 3px;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 268px;
   }
.askq {
    text-align: center;
}
.askq a:link, a:visited{
  text-decoration: none;
  color: #000000;
}
.askq a:hover, a:active {
  color: #191970;
}

a.button {
 display: block;
 font-family: Helvetica, Arial, sans-serif;
 font-size: 18px;
 font-weight: bold;
 padding: 20px 30px;
 color: #FFFFFF;
 margin: 0 10px;
 text-shadow: 2px 2px 1px #595959;
 filter: dropshadow(color=#595959, offx=1, offy=1);
 vertical-align: middle;
 width: 250px;
}

 .green {
 border: solid 1px #3b7200;
 background-color: #88c72a;
}

.red {
 border: solid 1px #720000;
 background-color: #c72a2a;
}

.quest_top {
    vertical-align: bottom;
    font: bold;
    font-size: 24px;
}
.warning {
    font-size: 48px;
}
.error {
    font-size: 24px;
    color: #EE0000;
}