.left_col_top {width:320px; height:150px; background-color:#DCDCDC; padding:15px; vertical-align:middle; font-size: 24px;}
.header {height:150px; background-color:#DCDCDC; padding:20px; text-align:center; font-size: 48px; font: bold;}
.left_col {width:35%; background-color:#F5DEB3; padding: 5px; vertical-align:middle; height: 600px}
.center_col {background-color:#F5DEB3; padding:15px; vertical-align: top;}
.right_col {width:120px; background-color:#dddddd; padding:15px; vertical-align:top;}
.footer {padding:10px 0 10px 20px; background-color:#F5DEB3; font-size:13px;}

/* Выпадающий список*/
.select-style select {
   background: #c8def4;
   width: 350px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}
/* Строка поиска*/
.sercher-button {
	-moz-box-shadow: 1px 3px 0px 0px #899599;
	-webkit-box-shadow: 1px 3px 0px 0px #899599;
	box-shadow: 1px 3px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#133b45;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
	text-shadow:2px 2px 0px #e1e2ed;
}
.sercher-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.sercher-button:active {
	position:relative;
	top:1px;
}

.sercher-button:active {
	position:relative;
	top:1px;
}

.sercher {
    background-color: #c8def4 ;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
}
/* Кнопки с вопросами*/

.askq {
    text-align: left;
}
.askq a:link, a:visited{
  text-decoration: none;
  color: #000000;
}
.askq a:hover, a:active {
  color: #0081c2;
}
.header a:link, a:visited{
  color: #000000;
}

.header a:hover, a:active {
  color: #666666;
}
a.button {
 display: block;
 font-family: Helvetica, Arial, sans-serif;
 font-size: 18px;
 font-weight: bold;
 padding: 20px 30px;
 color: #000000;
 margin: 0 10px;
 /*text-shadow: 2px 2px 1px #595959;*/
 filter: dropshadow(color=#595959, offx=1, offy=1);
 vertical-align: middle;
}

 .green {
 border: solid 1px #3b7200;
 background-color: #FFE4C4;
}

.red {
 border: solid 1px #720000;
 background-color: #c72a2a;
 font-color: #FFFFFF;
}

.quest_top {
    vertical-align: bottom;
    font: bold;
    font-size: 24px;
}
.warning {
    font-size: 48px;
}
.error {
    font-size: 24px;
    color: #EE0000;
}

.na_home {
  display:block;
  width:150px;
  height:30px;
  position:fixed;
  left:45%;
  z-index: 99999;
}
.img_file {
  display:block;
  width:50px;
  height:50px;
  position:fixed;
  right:10px;
  top:10px;
  z-index: 99999;
}

.img_ask_file {
    position:absolute;
    float: right; /* Выравнивание по правому краю  */
    margin: 0 0 20px 7px;
}
